<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Theme Preview</title>
	</head>
	<style type="text/css" media="all">
		body {
			background-color: {{gray0}}; 
			color: {{gray7}};
			font-family:dejavu sans mono 10;
		}
		aside {
			width: 12%;
			display: inline-block;
			text-align: center;
			font-size:100%;
			padding: 1rem 0;
		}
	</style>
	<body>
		<h1>
		Theme Preview
		</h1>

		<h2>Colors</h2>
		<aside style='background-color:{{col0d}};'>{{col0d}}</aside>
		<aside style='background-color:{{col1d}};'>{{col1d}}</aside>
		<aside style='background-color:{{col2d}};'>{{col2d}}</aside>
		<aside style='background-color:{{col3d}};'>{{col3d}}</aside>
		<aside style='background-color:{{col4d}};'>{{col4d}}</aside>
		<aside style='background-color:{{col5d}};'>{{col5d}}</aside>
		<aside style='background-color:{{col6d}};'>{{col6d}}</aside>
		<aside style='background-color:{{col7d}};'>{{col7d}}</aside>
		<aside style='color:{{col0d}};'>{{col0d}}</aside>
		<aside style='color:{{col1d}};'>{{col1d}}</aside>
		<aside style='color:{{col2d}};'>{{col2d}}</aside>
		<aside style='color:{{col3d}};'>{{col3d}}</aside>
		<aside style='color:{{col4d}};'>{{col4d}}</aside>
		<aside style='color:{{col5d}};'>{{col5d}}</aside>
		<aside style='color:{{col6d}};'>{{col6d}}</aside>
		<aside style='color:{{col7d}};'>{{col7d}}</aside>

		<aside style='background-color:{{col0l}};color:{{gray0}};'>{{col0l}}</aside>
		<aside style='background-color:{{col1l}};color:{{gray0}};'>{{col1l}}</aside>
		<aside style='background-color:{{col2l}};color:{{gray0}};'>{{col2l}}</aside>
		<aside style='background-color:{{col3l}};color:{{gray0}};'>{{col3l}}</aside>
		<aside style='background-color:{{col4l}};color:{{gray0}};'>{{col4l}}</aside>
		<aside style='background-color:{{col5l}};color:{{gray0}};'>{{col5l}}</aside>
		<aside style='background-color:{{col6l}};color:{{gray0}};'>{{col6l}}</aside>
		<aside style='background-color:{{col7l}};color:{{gray0}};'>{{col7l}}</aside>
		<aside style='color:{{col0l}};'>{{col0l}}</aside>
		<aside style='color:{{col1l}};'>{{col1l}}</aside>
		<aside style='color:{{col2l}};'>{{col2l}}</aside>
		<aside style='color:{{col3l}};'>{{col3l}}</aside>
		<aside style='color:{{col4l}};'>{{col4l}}</aside>
		<aside style='color:{{col5l}};'>{{col5l}}</aside>
		<aside style='color:{{col6l}};'>{{col6l}}</aside>
		<aside style='color:{{col7l}};'>{{col7l}}</aside>

		<h2>Grays</h2>
		<aside style='background-color:{{gray0}};'>{{gray0}}</aside>
		<aside style='background-color:{{gray1}};'>{{gray1}}</aside>
		<aside style='background-color:{{gray2}};'>{{gray2}}</aside>
		<aside style='background-color:{{gray3}};'>{{gray3}}</aside>
                <aside style='background-color:{{gray4}};
                  color:{{gray0}};'>{{gray4}}</aside>
                <aside style='background-color:{{gray5}};
                  color:{{gray0}};'>{{gray5}}</aside>
                <aside style='background-color:{{gray6}};
                  color:{{gray0}};'>{{gray6}}</aside>
                <aside style='background-color:{{gray7}};
                  color:{{gray0}};'>{{gray7}}</aside>
		<aside style='color:{{gray0}};'>{{gray0}}</aside>
		<aside style='color:{{gray1}};'>{{gray1}}</aside>
		<aside style='color:{{gray2}};'>{{gray2}}</aside>
		<aside style='color:{{gray3}};'>{{gray3}}</aside>
                <aside style='color:{{gray4}};'>{{gray4}}</aside>
                <aside style='color:{{gray5}};'>{{gray5}}</aside>
                <aside style='color:{{gray6}};'>{{gray6}}</aside>
                <aside style='color:{{gray7}};'>{{gray7}}</aside>
	</body>
</html>
